<!-- HERO SECTION -->
<section class="hero py-16">
    <div class="container mx-auto flex items-center justify-between">
        <div class="w-1/2">
            <h6 class="text-lg"><em>We Know You Are Hungry !</em></h6>
            <h1 class="text-3xl md:text-5xl font-bold"> Delicious food is just few clicks away !!</h1>
            <button class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary"><a href="/cart">Order Now
                </a></button>
        </div>
        <div class="w-1/2 px-50">
            <img src="/image/heroImage.png" alt="main">
        </div>
    </div>
</section>
<!-- MENU SECTION -->
<div class="container_menu">
    <div class="menu flex items-center " id="menu">
        <section class="menu container mx-auto py-8 ml-20 md:ml-50 lg:ml-60">
            <h1 class="text-2xl font-bold mb-8">View Full Menu</h1>
            <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 col-gap-12 row-gap-16">
                <!-- Card -->
                <!-- // foods key from homeController // -->
                <% foods.forEach(function(food) { %>
                    <div class="w-full md:w-70 mb-8 box">
                        <img class="h-45 mb-4 mx-auto" src="<%= food.image %>" alt="">
                        <div class="text-center">
                            <h2 class="mb-1 text-lg">
                                <%= food.name %>
                            </h2>
                            <span class="size py-1 px-4 rounded-full uppercase text-xs">
                                <%= food.description %>
                            </span>
                            <div class="flex items-center justify-around mt-5">
                                <span class="font-bold text-lg">
                                    ₹<%= food.price%>
                                </span>
                                <button data-food="<%= JSON.stringify(food) %>"
                                    class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                                    <span>+</span>
                                    <span class="ml-4">Add</span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <% })%>
                        <!-- Card End -->
            </div>

        </section>
    </div>
</div>