<section class="orders light-section">
    <div class="container mx-auto pt-12">
        <h1 class="font-bold text-lg mb-4">All orders</h1>
        <table class="w-full table-auto bg-white">
            <thead>
                <tr>
                    <th class="px-4 py-2 text-left">Orders</th>
                    <th class="px-4 py-2 text-left">Customer</th>
                    <th class="px-4 py-2 text-left">Address</th>
                    <th class="px-4 py-2 text-left">status</th>
                    <th class="px-4 py-2 text-left">Placed at</th>
                    <th class="px-4 py-2 text-left">Number</th>
                </tr>
            </thead>
            <tbody id="orderTableBody">
                <% if(orders.length) { %>
                    <% orders.forEach((order)=> { %>
                        <tr>
                            <td class="border px-4 py-2 text-green-900">
                                <p>
                                    <%= order._id %>
                                </p>

                            </td>
                            <td class="border px-4 py-2">
                                <%= order.customerId.name %>
                            </td>
                            <td class="border px-4 py-2">
                                <%= order.address %>
                            </td>
                            <td class="border px-4 py-2">
                                <div class="inline-block relative w-64">
                                    <form action="/admin/order/status" method="POST">
                                        <input type="hidden" name="orderId" value="${
                              order._id
                            }">
                                        <select name="status" onchange="this.form.submit()"
                                            class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                                            <option value="order_placed" <%=order.status==="order_placed" ? "selected"
                                                : "" %> >
                                                Order Placed</option>


                                        </select>
                                    </form>
                                    <div
                                        class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 20 20">
                                            <path
                                                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                                        </svg>
                                    </div>
                                </div>
                            </td>
                            <td class="border px-4 py-2">
                                <%= moment(order.createdAt).format("hh:mm A")%>
                            </td>
                            <td class="border px-4 py-2">
                                <%= order.phone %>
                            </td>
                        </tr>

                        <% }) %>
                            <% } else { %>
                                <tr>
                                    <td class="p-4"><span>No orders found!</span></td>
                                </tr>
                                <% } %>



            </tbody>
        </table>
    </div>
</section>